@using CaptchaMvc.HtmlHelpers
@using CaptchaMvc
@using WebBanGiayConverse.Models
@model NguoiDung
@{
    ViewBag.Title = "DangKi";
    Layout = "~/Views/Layout/ProductLayout.cshtml";
}
<div class=" register">
    <h1>Register</h1>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <div class="col-md-4 register-top-grid">
            <h3>Thông tin cá nhân</h3>
            <div>
                <span>Họ và tên</span>
                @Html.TextBox("Ten")
                <span class="TenKH" style="color:red"></span>
            </div>
            <div>
                <span>Email</span>
                @Html.TextBox("Email")
                <span class="EmailKH" style="color:red"></span>
            </div>
            <div>
                <span>Địa chỉ</span>
                @Html.TextBox("DiaChi")
                <span class="DiaChiKH" style="color:red"></span>
            </div>
            <div>
                <span>Số điện thoại</span>
                @Html.TextBox("SoDienThoai")
                <span class="SoDienThoaiKH" style="color:red"></span>
            </div>

        </div>
        <div class="col-md-5 register-bottom-grid register-top-grid">
            <h3>Thông tin đăng nhập</h3>
            <div>
                <span>Tài khoản</span>
                    @Html.TextBox("TaiKhoan")
                <span class="loiNhapTaiKhoan" style="color:red"></span>


            </div>
            <div>
                <span>Mật khẩu</span>
                @Html.Password("MatKhau")
                <span class="MatKhauKH" style="color:red"></span>
            </div>
            <div>
                <span>Nhập lại mật khẩu</span>
                @Html.Password("NhapLaiMatKhau")
                <span class="NhapLaiMK" style="color:red"></span>
            </div>
            <div>
                @Html.MathCaptcha()
            </div>
            <input type="submit" value="Đăng kí" id="btn_DangKi">
        </div>
        <div class="clearfix"> </div>
    }
    <h2 style="text-align:center; margin-top:40px">@ViewBag.ThongBao</h2>

</div>
<script>
    $("#btn_DangKi").click(function () {
        var loi = 0;
        if ($("#MatKhau").val() == "") {
            $(".MatKhauKH").text("Mật khẩu không được để trống")
            loi++;
        } else {
            $(".MatKhauKH").text("");
        }
        if ($("#NhapLaiMatKhau").val() == "") {
            $(".NhapLaiMK").text("Nhập lại không được để trống")
            loi++;
        } else {
            $(".NhapLaiMK").text("");
        }
        if ($("#DiaChi").val() == "") {
            $(".DiaChiKH").text("Địa chỉ không được để trống")
            loi++;
        } else {
            $(".DiaChiKH").text("");
        }
        if ($("#TaiKhoan").val() == "") {
            $(".loiNhapTaiKhoan").text("Tài khoản không được để trống")
            loi++;

        } else {
            $(".loiNhapTaiKhoan").text("");
        }
        if ($("#Ten").val() == "") {
            $(".TenKH").text("Tên không được để trống")
            loi++;

        } else {
            $(".TenKH").text("");
        }
        var loi;
        dinhdang = /^[0-9A-Za-z]+[0-9A-Za-z_]*@@[\w\d.]+\.\w{2,4}$/;
        ktmail = dinhdang.test($("#Email").val());
        if (!ktmail) {
            $(".EmailKH").text("Email không hợp lệ")
            loi++;
        } else {
            $("#Email").text("");
        }
        if ($("#SoDienThoai").val() == "") {
            $(".SoDienThoaiKH").text("Số điện thoại không được để trống")
            loi++;

        } else {
            $("#SoDienThoai").text("");
        }

        if (loi != 0) {
            return false
        }
    })
</script>