@using WebBanGiayConverse.Models
@model ItemGioHang
@{
    ViewBag.Title = "SuaGioHang";
    Layout = "~/Views/Layout/ProductLayout.cshtml";
}
@{
    List<ItemGioHang> lstGioHang = ViewBag.GioHang as List<ItemGioHang>;
}

<table class="table" style="width:75% ">
    <tr>
        <td>Mã SP</td>
        <td>Tên SP</td>
        <td>Hình ảnh</td>
        <td>Số lượng</td>
        <td>Đơn Giá</td>
        <td>Thành tiền</td>
    </tr>
    @foreach (var item in lstGioHang)
    {
        //mã sp từ xem
        if (Model.IDSanPham == item.IDSanPham)
        {
            using (Html.BeginForm("CapNhatGioHang", "GioHang"))
            {

                <tr>
                    <td>@item.IDSanPham @Html.Hidden("IDSanPham", item.IDSanPham)</td>
                    <td>@item.TenSp</td>
                    <td>
                        <img src="@Url.Content("~/Content/HinhAnhSP/"+item.HinhAnh)" width="150px" height="150px" />
                    </td>
                    <td>
                        @Html.TextBox("SoLuong", item.SoLuong, new { @class = "SoLuongThayDoi" })
                        <p id="TB_SoLuongThayDoi" style="color:red"></p>

                    </td>
                    <td>@item.Gia.ToString("#,##") VNĐ</td>
                    <td>@item.ThanhTien.ToString("#,##") VNĐ</td>
                    <td><input type="submit" value="Cập nhật" style="padding:10px" id="btn_CapNhatSoLuong" /></td>
                </tr>
            }

        }
        else
        {
            <tr>
                <td>@item.IDSanPham</td>
                <td>@item.TenSp</td>
                <td>
                    <img src="@Url.Content(item.HinhAnh)" width="150px" height="150px" />
                </td>
                <td>@item.SoLuong</td>
                <td>@item.Gia.ToString("#,##") VNĐ</td>
                <td>@item.ThanhTien.ToString("#,##") VNĐ</td>
                <td>@Html.ActionLink("Sửa", "SuaGioHang", new { @MaSp = item.IDSanPham })</td>
                <td>
                    @Html.ActionLink("Xóa", "XoaGioHang", new { @MaSp = item.IDSanPham })
                </td>
            </tr>
        }

    }
</table>
@*
    Kiểm tra cập nhật số lượng
    
*@
<script>
    $("#btn_CapNhatSoLuong").click(function () {
        var soLuong = $(".SoLuongThayDoi").val();
        if (isNaN(soLuong) == true || soLuong < 0) {
            $("#TB_SoLuongThayDoi").text("Giá trị không hợp lệ")
            return false;
        }
        //else {
        //    $("#SoLuong").text("")

        //}
    });
</script>
