@using WebBanGiayConverse.Models
@model List<ItemGioHang>
@{
    ViewBag.Title = "XemGioHang";
    Layout = "~/Views/Layout/ProductLayout.cshtml";
}

@if (Model == null || Model.Count == 0)
{
    <h1>Giỏ hàng rỗng</h1>
}
else
{
    <table class="table" style="width:75% ">
        <tr>
            <td>Mã SP</td>
            <td>Tên SP</td>
            <td>Hình ảnh</td>
            <td>Số lượng</td>
            <td>Đơn Giá</td>
            <td>Thành tiền</td>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.IDSanPham</td>
                <td>@item.TenSp</td>
                <td>
                    <img src="@Url.Content("~/Content/HinhAnhSP/"+item.HinhAnh)" width="150px" height="150px" />
                </td>
                <td>@item.SoLuong</td>
                <td>@item.Gia.ToString("#,##") VNĐ</td>
                <td>@item.ThanhTien.ToString("#,##") VNĐ</td>
                <td>
                    @Html.ActionLink("Sửa", "SuaGioHang", new { @MaSp = item.IDSanPham })

                </td>
                <td>
                    @Html.ActionLink("Xóa", "XoaGioHang", new { @MaSp = item.IDSanPham })
                </td>

            </tr>
        }
    </table>


    using (Html.BeginForm("DatHang", "GioHang"))

    {

        if (Session["TaiKhoan"] == null)
        {


            <div class="formDatHang">
                <table class="table" style="width:75% ">
                    <tr>
                        <td align="center" colspan="2">THÔNG TIN KHÁCH HÀNG</td>
                    </tr>
                    <tr>
                        <td>
                            <label for="name">Họ tên:</label>
                        </td>
                        <td width="90%">
                            @Html.TextBox("Ten")
                            <p id="TenKH" style="color:red"></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="name">Địa chỉ:</label>
                        </td>
                        <td>
                            @Html.TextBox("DiaChi")
                            <p id="DiaChiKH" style="color:red"></p>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="name">Email:</label>
                        </td>
                        <td>
                            @Html.TextBox("Email")
                            <p id="EmailKH" style="color:red"></p>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="name">Số điện thoại:</label>
                        </td>
                        <td>
                            @Html.TextBox("SoDienThoai")
                            <p id="SoDienThoaiKH" style="color:red"></p>
                        </td>
                    </tr>
                </table>
            </div>
            <script type="text/javascript">
                $("#btn_DatHang").click(function () {
                    var loi = 0;
                    if ($("#Ten").val() == "") {
                        $("#TenKH").text("Tên không được để trống")
                        loi++;

                    } else {
                        $("#TenKH").text("");
                    }
                    if ($("#DiaChi").val() == "") {
                        $("#DiaChiKH").text("Địa chỉ không được để trống")
                        loi++;

                    } else {
                        $("#DiaChi").text("");
                    }
                    var loi;
                    dinhdang = /^[0-9A-Za-z]+[0-9A-Za-z_]@@[\w\d.]+\.\w{2,4}$/;
                    ktmail = dinhdang.test($("#Email").val());
                    if (!ktmail) {
                        $("#EmailKH").text("Email không hợp lệ")
                        loi++;
                    } else {
                        $("#Email").text("");
                    }
                    if ($("#SoDienThoai").val() == "") {
                        $("#SoDienThoaiKH").text("Số điện thoại không được để trống")
                        loi++;

                    } else {
                        $("#SoDienThoai").text("");
                    }

                    if (loi != 0) {
                        return false;
                    }
                })
            </script>

        }
        <div class="divDatHang" style="text-align:right">
            <input type="submit" value="Đặt hàng" class="btn btn-success" style="padding:6px 10px" id="btn_DatHang" />

        </div>
    }


}



